<div class="aside">
  <div class="search2">
    <%= search_form_for @search do |f|%>
      <%= f.search_field :title_or_body_cont , placeholder: '質問を検索',class:"search-box__text"%>
      <%= button_tag type: 'submit', class: "search-box__btn" do %>
      <%= icon('fas', 'search') %>
      <% end %>
      <%# <button id="sort" class="js-enable-touching open-dialog search-controller_sort"> %>
        <%# <i class="fas fa-list-ul fa-2x"></i> %>
      <%# </button> %>
    <%end%>
  </div>
</div>