 <input name="inputname" type="hidden" value= <%= @question.id %>  id ="question_id" />
  <% if user_signed_in? && !Bookmark.exists?(user_id: current_user.id, question_id: question.id)%>
      <span class="bookmark">
      <i class="far fa-bookmark book"></i>
      ブックマーク
      </span> 
  <%elsif user_signed_in?%>
    <span class="bookmark2">
     <i class="far fa-bookmark my-black"></i>
    ブックマーク解除
    </span>
  <%else%>
  <%end%>
