

<div class="container">
    <div class="l-content">
      <section class="tabs">
        <input id="all" checked="hecked" name="tab_item" type="radio">
        <label class="tab_item" for="all"> 投稿一覧</label>
        <input id="programming"  name="tab_item" type="radio">
        <label class="tab_item" for="programming"> ブックマーク一覧</label>
        <div class="tab_content" id="all_content">
          <div class="tab_content_description">
            <ul class="mypage-item-list tab-pane.active">
              <li class="first-child">
              aaaa
              </li>
            </ul>
          <div>
        </div>
        <div class="tab_content" id="programming_content">
          <div class="tab_content_description">
            <ul class="mypage-item-list tab-pane">
              <li class="mypage-item-not-found bold">
                 
              </li>
            </ul>
          </div>
        </div>
      </section>
    <div>
</div>
    


