<div class="container">

<%= form_for @reaction do |f| %>
<%=f.label:body,"返信する"%>
 <div class="form-group padding-top-15per">
<%=f.text_area:body ,rows: 1,class:'form-control'%>
</div>
<%=f.submit "編集する",class:'btn btn-info'%>
<%end%>


</div>