.container{
  .row{
    display: inline-block;
    vertical-align: top;
    background-color: white;
    margin: 40px auto 0;
    width: 700px;
    padding-left:30px;
    padding-top: 30px;
  }
  .btn-primary{
    margin-top: 20px;
  }
}