
  

body{
  margin: 0;
  padding:0;
  background-color:#f5f5f5;
}

.wrap {
	overflow: hidden;
}


.navbar{
  height:100px;
  background-color:white;
}

.navbar-brand{
  line-height:80px; 
}

@media screen and (min-width:451px){
  .navbar-text{
    line-height:80px;
  }
}

@media screen and (max-width:450px){
  .navbar-text{
    line-height:80px;
    margin-top: 0px;
    float: right;
  }
}




@media screen and (min-width:451px){
  .icon_image {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
  }
}

@media screen and (max-width:450px){
  .icon_image {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
    margin-top: -13px;
  }
}

@media screen and (min-width:451px){
  .icon_image2{
    width: 30px;
    height: 30px;
    //サイズ指定
    border-radius: 100px;
    //画像を丸くする
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
    margin-top:20px;
  }
}

@media screen and (max-width:450px){
  .icon_image2{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    object-fit: cover;
    margin-top: -13px;
  }
}



.username{
  margin-bottom:30px;
}

.question-body{
  font-size:20px;
}


.btn-info{
  margin-bottom: 20px;
}

.thumbnail__caption{
  .answer-body{
    font-size:20px;
    margin-bottom:20px;
    margin-top:20px;
  }
  .text-right{
    margin-right: 20px;
  }
}

.bestanswer{
  .answer-body{
    font-size:20px;
    margin-bottom:20px;
    margin-top:20px;
  }
  .text-right{
    margin-right: 20px;
  }
}



.icon_image3{
  width: 30px;
  height: 30px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
  // margin-top:20px;
}

ul {
  list-style: none;
}


.artcle-block{
  margin-bottom:30px;
  border-bottom: medium dotted gray;
}

@media screen and (min-width:451px){
  .search-box__text {
    position: relative;
    padding: 0;
    width: 70%;
    height: 40px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 40px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: white;
    margin-left: 67px;
  }
}
@media screen and (max-width:450px){
  .question_search{
    margin-right: 100px;
    .search-box__text {
      position: relative;
      padding: 0;
      width: 30%;
      height: 40px;
      font-size: 14px;
      padding-left: 10px;
      padding-right: 40px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      background-color: white;
      margin-left: 67px;
    }
 }
}

.search-box__btn {
  width:40px;
  height:40px;
  border-radius: 4px;
}
@media screen and (min-width:451px){
  .footer-write-btn {
    bottom: 32px;
    right: 32px;
    width: 160px;
    height: 160px;
    font-size: 22px;
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    background:#33CCFF;
    color: #fff;
    text-align: center;
    text-decoration: none;
    p {
      margin: 32px 0 0;
  } 
  .fa-pen {
    margin: 8px 0 0;
    font-size: 43px;
  }
  }
}

@media screen and (max-width:450px){
  .footer-write-btn {
    bottom: 32px;
    right: 32px;
    width: 120px;
    height: 120px;
    font-size: 22px;
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    background:#33CCFF;
    color: #fff;
    text-align: center;
    text-decoration: none;
    p {
      margin: 32px 0 0;
      font-size: 18px;
  } 
  .fa-pen {
    margin: 8px 0 0;
    font-size: 30px;
  }
  }
}



.btn-line{
  display:inline-flex;
  .bookmark-line{
    cursor: pointer;
    cursor: hand;
    width:184px;
    .bookmark{
      display: inline-block;
      color: #333;
      border: 1px solid black;
      background: white;
      padding: 8px 16px;
      border-radius: 40px;
      position: absolute;
      margin-left: 13px;
    .span{
      font-size: 14px;
    }
  }  
  .bookmark2{
    display: inline-block;
    color: #333;
    border: 1px solid black;
    background: white;
    padding: 8px 16px;
    border-radius: 40px;
    position: absolute;
    margin-left: 13px;
    margin-right: 13px;
    .my-black{
      color:black;
    }
    .span{
      font-size: 14px;
      }
    }
  }
}

@media screen and (max-width:450px){
  .btn-line{
    display:inline-flex;
    .bookmark-line{
      cursor: pointer;
      cursor: hand;
      width:184px;
      .bookmark{
        display: inline-block;
        color: #333;
        border: 1px solid black;
        background: white;
        padding: 8px 10px;
        border-radius: 40px;
        position: absolute;
        margin-left: 3px;
      .span{
        font-size: 13px;
      }
    }  
    .bookmark2{
      display: inline-block;
      color: #333;
      border: 1px solid black;
      background: white;
      padding: 8px 10px;
      border-radius: 40px;
      position: absolute;
      margin-left: 3px;
      margin-right: 13px;
      .my-black{
        color:black;
      }
      .span{
        font-size: 13px;
        }
      }
    }
  }
}


.is-animate {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;

  .modal-banner {
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 95%;
    max-width: 375px;
    margin: 8px auto;
    background: #fff;
    max-width: none;
    width: 600px;
    margin: 20px auto;
    margin-bottom: 0px;

    .modal-body {
      padding: 64px;
      line-height: 1.5;
      .modal-head {
        font-size: 16px;
        font-weight: 600;
      }
    }
    .clearfix{
    border-top: 1px solid #ccc;
    .modal-btn-cancel {
      float: left;
      line-height: 63px;
      cursor: pointer;
      border-top: 1px solid #ccc;
      width: 50%;
      text-align: center;
      text-decoration:none;
    }
    .modal-btn {
      border-top: 1px solid #ccc;
      width: 50%;
      text-align: center;
      line-height: 63px;
      cursor: pointer;
      text-decoration: none;
    }
    .modal-btn-submit {
      float: right;
      border-left: 1px solid #ccc;
      border-top: none;
      color: #0099e8;
      border-right-width: 0px;
      border-bottom-width: 0px;
      }
    }
  }
}



dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  animation: modal-open .4s ease;
}

.btn-danger{
  margin-bottom:30px;
}

.bestanswer2{
  display: inline-block;
    color: #333;
    border: 1px solid white;
    background: #f5f5f5;
    padding: 8px 16px;
    border-radius: 40px;
    position: absolute;
}

.new_reaction{
  margin-top: 80px;
}

