.bestanswer{
  background-color: white;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 7px;
  margin-bottom: 20px;
  transition: box-shadow .5s;
}

.li{
  background-color: white;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 7px;
  margin-bottom: 20px;
  transition: box-shadow .5s;
}

.reactionbody {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  // min-width: 120px;
  // max-width: 100%;
  color: #555;
  background: #e0edff;
  width:95%;
  .reaction-edit{
    float: right;
    font-size: 13px;
  }
}

@media screen and (min-width:900px){
  .reactionbody:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 35%;
    margin-left: -330px;
    border: 15px solid transparent;
    border-bottom: 15px solid #e0edff;
  }
}

.reactionbody p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}