
.container{
  .row1{
    display: inline-block;
    vertical-align: top;
    margin: 40px auto 0;
    width: 700px;
    padding-left: 87px;
    padding-top: 30px;
    .question-form{
    background-color: white;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 7px;
    margin-bottom: 20px;
    transition: box-shadow .5s;
    list-style: none;
    }
  }
}
.question-form:hover{
  box-shadow: 0 12px 12px gray;
}